.question-container{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 2rem;
}

.question-text{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    row-gap: 1rem;
    width: 50%;
    text-align: center;
}

.question-text-big{
    font-weight: 750;
    font-size: 1.5em;
}

.question-text-small{
    font-weight: 350;
    font-size: 1em;
}

.question-buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

@media (max-width: 1300px){
    .question-text-big{
        font-size: 1.5rem;
    }
}

@media (max-width: 800px){
    .question-text{
        width: 90%;
    }
    .question-text-big{
        font-size: 1.3rem;
    }
}