.header{
    padding: 6rem 0 6rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    /*background-color: var(--bright-red);*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../header-img-4.jpg);
    font-family: var(--font-sans-serif);
    color: white;
}

.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*row-gap: 1rem;*/
}

.header-big-text{
    font-size: 2.2em;
    font-weight: 750;
    text-align: center;
}

.header-small-text{
    font-weight: 350;
    color: var(--white-transparent);
    font-size: 1.2em;
}

.header-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1.8rem;
}

.header-button{
    font-family: var(--font-sans-serif);
    font-size: 1.2em;
    background-color: transparent;
    color: white;
    border: 1px solid var(--light-light-pink);
    border-radius: var(--main-radius);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}
