.description-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    row-gap: 2rem;
    padding-top: 1.5rem;
}

.description-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% 25% 0 25%;
    row-gap: 1rem;
    text-align: center;
}

.description-text-big{
    font-size: 2em;
    font-weight: 750;
}

.description-text-small{
    font-size: 1em;
    font-weight: 350;
}

.description-buttons-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}

.description-steps-container{
    margin-top: 2rem;
    display: none;
}

.show{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    column-gap: 2rem;
    width: 80%;
}

.description-step{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 300px;
    text-align: center;
    row-gap: 0.8rem;
}

.description-step-picture{
    height: 60px;
}

.description-step-header{
    font-size: 1.3em;
    font-weight: 700;
}

.description-step-text{
    font-size: 1em;
    font-weight: 350;
    height: 70px;
}

@media (max-width: 1300px){
    .description-container{
        row-gap: 1.8rem;
    }
    .description-text-big{
        font-size: 1.6rem;
    }
    .description-text-small{
        font-size: 1rem;
    }
    .description-step-header{
        font-size: 1.2rem;
    }
    .description-step-picture{
        height: 50px;
    }
}

@media (max-width: 800px){
    .description-container{
        row-gap: 1.3rem;
    }
    .description-text{
        margin: 5% 5% 0 5%;
    }
    .show{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        row-gap: 2.5rem;
        width: 95%;
    }
    .description-step-text{
        height: auto;
    }
}


