:root{
    --navbar-dark: rgb(33, 37, 41);
    --navbar-link-grey: #6c757d;

    --pink: #fcc3d8;
    --light-pink: rgba(253, 246, 248, 0.98);
    --light-grey: #e8ecef;
    --light-light-grey: #f5f6f8;
    --bright-red: #E51437;
    --dark-green: #4B8300;
    --dark-brown: #574240;
    --white-transparent: rgb(256, 256, 256, 80%);
    --white-more-transparent: rgb(256, 256, 256, 20%);

    --font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --main-radius: 5px;
}

body{
    margin: 0;
    font-family: var(--font-sans-serif);
}

.pointer {cursor: pointer;}

.black-white-button{
    font-family: var(--font-sans-serif);
    font-size: 1em;
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: var(--main-radius);
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
}

.black-white-button:hover, .black-white-button.active{
    color: white;
    background-color: black;
    border: 1px solid black;
}

@media (max-width: 1300px){
    .black-white-button{
        font-size: 1rem;
        padding: 0.6rem 1.4rem 0.6rem 1.4rem;
    }
}

@media (max-width: 800px){
    .black-white-button{
        font-size: 0.9rem;
        padding: 0.5rem 1.3rem 0.5rem 1.3rem;
    }
}