.navbar{
    background-color: var(--navbar-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem 1rem 2rem;
    box-sizing: border-box;
    z-index: 999;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding-left: 2rem;
}

.navbar-categories-router{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;
}

.navbar-list-router{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-link{
    padding-right: 2rem;
    text-decoration: none;
    color: var(--navbar-link-grey);
    font-size: 1rem;
}

.nav-link:hover{
    color: white;
}

.sticky {
    position: fixed;
    width: 100%;
}

.navbar-cart-button{
    background-color: transparent;
    padding: 0 0.7rem 1rem 0;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 7px;
}

.navbar-cart-img{
    height: 1.5rem;
    width: 1.5rem;
    fill: white;
}

.navbar-cart-counter{
    background-color: red;
    font-family: var(--font-sans-serif);
    font-weight: 500;
    font-size: 0.9em;
    text-align: center;
    color: white;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    top: 15px;
    right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navbar-cart-counter-zero{
    border: none;
    background: transparent;
    color: transparent;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
}

@media (max-width: 1200px){
    .logo{
        font-size: 1.1rem;
    }
    .nav-link{
        font-size: 0.9rem;
    }
}

@media (max-width: 700px){
    .logo{
        font-size: 1rem;
        padding-left: 0.3rem;
    }
    .nav-link{
        display: none;
    }
}