.navbar{
    background-color: var(--navbar-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

.logo{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding-left: 2rem;
}

.navbar-categories-router{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    column-gap: 2rem;
}

.nav-category-link{
    text-decoration: none;
    color: var(--white-transparent);
    font-weight: 400;
}

.nav-category-link:hover{
    color: white;
}

.navbar-list-router{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-link{
    padding-right: 2rem;
    text-decoration: none;
    color: var(--navbar-link-grey);
}

.nav-link:hover{
    color: white;
}

.sticky {
    position: fixed;
    width: 100%;
}